<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Startups y experiencias a traves de Mentores</h1>

                <p>Asesorate en tiempo real, P2P videocalls y airbnb mentoring.</p>

                
                    
                    
                       
                                <button class="btn btn-primary btn-xl page-scroll" type="submit">  como funciona  </button>
                  
                    <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Busca tus Mentores</a> -->
              
            </div>
        </div>
    </header>